*{
    color: white;
}
div.cover-usuario{
    background-image: url('https://images.pexels.com/photos/2131841/pexels-photo-2131841.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center center;
    height: 20vh;
}
.perfil-pic-container img{
    border-radius: 50%;
    position: relative;
    top: 100%;
    max-width: 10%;
    max-height: 10%;
}
h3.nombre-atleta{
    display: inline-block;
    margin-left: 3vh;
}
/* galeria */
div.body-container{
    height: 72.5vh;
}
div.galeria{
    position: relative;
    float: right;
    background-color: #343a40;
    color: white;
    width: 60vh;
    height: 100%;
}
div.galeria img{
    max-width: 100%;
    max-height: 100%;
}
div.selector{
    display: block;
    position: relative;
    margin: 0 auto;
}
