*{
    color: black;
}
.ubuntu{
    font-family: 'Ubuntu';
  }
.opensans{
    font-family: 'Open Sans', sans-serif;
}

div.cover-usuario{
    background-image: url('https://www.lonepeakperformance.com/sites/default/files/page_header_images/lppt_bzn_performance-header2.jpg');
    background-size: 100% 350%;
    background-position: center;
    height: 22vh;
}

.perfil-pic-container img{
    border-radius: 50%;
    position: relative;
    top: 100%;
    max-width: 10%;
    max-height: 10%;
    /* z-index: 1; */
}

/* h3.nombre-perfil{
    display: inline-block;
    margin-left: 3vh;
    color: white;
} */

div.body-container{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
}

div.galeria img{
    margin-top: 7%;
    margin-bottom: 7%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 8%;
    transition: 800ms;
}

div.galeria img:hover{
    transition: 800ms;
    transform: scale(1.05);
}

div.centrar{
    text-align: center;
}

/* Marcas personales */
.v-marca .count-number-no {
	font-size: 40px;
	font-weight: 500;
	color: #ffa600e3;
}

.v-marca .count-number-no span{
	color: #ffa600e3;
}

.v-marca .count-divider {
	width: 100%;
	text-align: center;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.v-marca .count-divider span {
	background: #e4e4e4;
	width: 0px;
	height: 3px;
    display: inline-block;
}

.lineatitulo{
    background-color: rgba(255, 255, 255, 0.5)
}

.error{
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%
}

