<main>
    <section id="sec1" class="container-fluid pt-4 pb-5">
        <div class="container text-center">
            <h3 class="font-weight-bold">SECCION UNO</h3>
            <hr class="mb-5 lineatitulo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita earum delectus soluta debitis
                quidem cupiditate nisi odit laboriosam, praesentium quisquam!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis praesentium dolor perferendis a
                quos aliquid totam tempora iste, sed alias quam. Quo suscipit a laborum id veritatis earum harum
                minima.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, veniam vero! Assumenda vitae soluta
                dolore ipsa qui pariatur, quo voluptate consequatur reprehenderit.</p>
        </div>
        <div class="container">
            <hr class="mb-5 lineatitulo">
            <div class="container-flex row mb-5">
                <div id="divimg1" class="imagen-seccion2 container col-4">
                    <img class="img-sponsors" src="https://images.pexels.com/photos/863988/pexels-photo-863988.jpeg?cs=srgb&dl=accion-agua-atleta-863988.jpg&fm=jpg" alt="Card image cap">
                </div>
                <div id="divimg2" class="imagen-seccion2 container col-4">
                    <img class="img-sponsors" src="https://images.pexels.com/photos/217872/pexels-photo-217872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
                </div>
                <div id="divimg3" class="imagen-seccion2 container col-4">
                    <img class="img-sponsors" src="https://images.pexels.com/photos/163351/girl-boxer-ring-boxing-pear-163351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container-fluid bg-dark text-center text-light py-4">
            <h2 class="font-weight-bold font-italic">SERVICIOS</h2>
        </div>
            <article class="container-fluid py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!-- <img class="img-fluid" src="images/service-1.jpg"> -->
                        </div>
                        <div class="col-12 col-md-6">
                            <h3 class="py-3 pb-3 font-weight-bold">Titulo del servicio</h3>
                            <div class="d-none d-md-block">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel totam at laborum
                                    iure excepturi ipsa eveniet! Asperiores rerum repellendus, reprehenderit unde
                                    fugiat aspernatur saepe similique velit culpa vitae, exercitationem quia.</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum culpa fuga nihil
                                    quisquam distinctio ut et aut nesciunt accusantium. Quasi?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam blanditiis, harum
                                    nemo facere culpa nihil necessitatibus voluptate vero aliquam recusandae. Illo
                                    atque tempore consequatur ullam!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="container-fluid py-5 bg-light">
                <div class="container">
                    <div class="row ">
                        <div class="col-12 col-md-6">
                            <h3 class="py-3 pb-3 font-weight-bold">APP Develomenpt</h3>
                            <div class="d-none d-md-block">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel totam at laborum
                                    iure excepturi ipsa eveniet! Asperiores rerum repellendus, reprehenderit unde
                                    fugiat aspernatur saepe similique velit culpa vitae, exercitationem quia.</p>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum culpa fuga nihil
                                    quisquam distinctio ut et aut nesciunt accusantium. Quasi?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam blanditiis, harum
                                    nemo facere culpa nihil necessitatibus voluptate vero aliquam recusandae. Illo
                                    atque tempore consequatur ullam!</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- <img class="img-fluid" src="images/service-3.jpg"> -->
                        </div>
                    </div>
                </div>
            </article>
            <article class="container-fluid py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- <img class="img-fluid" src="images/service-4.jpg"> -->
                            </div>
                            <div class="col-12 col-md-6">
                                <h3 class="py-3 pb-3 font-weight-bold">Titulo del servicio</h3>
                                <div class="d-none d-md-block">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel totam at laborum
                                        iure excepturi ipsa eveniet! Asperiores rerum repellendus, reprehenderit unde
                                        fugiat aspernatur saepe similique velit culpa vitae, exercitationem quia.</p>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum culpa fuga nihil
                                        quisquam distinctio ut et aut nesciunt accusantium. Quasi?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam blanditiis, harum
                                        nemo facere culpa nihil necessitatibus voluptate vero aliquam recusandae. Illo
                                        atque tempore consequatur ullam!</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </article>
            <article class="container-fluid py-5 bg-light">
                    <div class="container">
                        <div class="row ">
                            <div class="col-12 col-md-6">
                                <h3 class="py-3 pb-3 font-weight-bold">APP Develomenpt</h3>
                                <div class="d-none d-md-block">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel totam at laborum
                                        iure excepturi ipsa eveniet! Asperiores rerum repellendus, reprehenderit unde
                                        fugiat aspernatur saepe similique velit culpa vitae, exercitationem quia.</p>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum culpa fuga nihil
                                        quisquam distinctio ut et aut nesciunt accusantium. Quasi?</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam blanditiis, harum
                                        nemo facere culpa nihil necessitatibus voluptate vero aliquam recusandae. Illo
                                        atque tempore consequatur ullam!</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- <img class="img-fluid" src="images/service-2.jpg"> -->
                            </div>
                        </div>
                    </div>
            </article>
    </section>
    <section id="contacto">
            <div class="container-fluid bg-dark text-center text-light py-4">
                <h2 class="font-weight-bold font-italic">CONTACTO</h2>
            </div>
            <div class="container py-5">
                <!-- <div class="row">
                    <div class="col-12 col-md-8">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-light btn-block">Submit</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="contactos">
                            <h5>CALL US</h5>
                            <p class="mb-0">+0 123.777.999</p>
                            <p>+0 123.777.444   </p>
                        </div>
                        <div class="contactos">
                            <h5>VISIT US</h5>
                            <p class="mb-0">Plaza de españa 11</p>
                            <p>Madrid 28008</p>
                        </div>
                        <div class="contactos">
                            <h5>HELP</h5>
                            <p class="mb-0">Ayuda 1</p>
                            <p>Ayuda 2</p>
                        </div>
                    </div>
                </div> -->
            </div>
    </section>
</main>