div.cover-usuario{
    background-image: url('https://images.pexels.com/photos/2131841/pexels-photo-2131841.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center center;
    height: 20vh;
    color: white;
}
.perfil-pic-container img{
    border-radius: 50%;
    position: relative;
    top: 100%;
    max-width: 10%;
    max-height: 10%;
    z-index: 1;
}
h3.nombre-sponsor{
    display: inline-block;
    margin-left: 3vh;
}
.container.col-7{
    color: white;
}

.row{
    background-color: #343a40;
}

.selector-left{
    color: white;
}   

.selector-right{
    color: white;
}
