.ubuntu{
    font-family: 'Ubuntu';
  }
.opensans{
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: whitesmoke;
}

/*Header Styles*/
.nav-link:hover{
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
      .login-lg {
        display: none;
      }
    }
/* Hero Styles */
.hero{
    background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center center;
    height: 88vh;
    background-color: #555;
    background-blend-mode: soft-light;
}
.hero>div.titulos {
    color: white;
    height: 72%;
}
.hero>div h1{
	font-size: 2em;
}

.hero>div h2 {
	font-size: 1.25em;
	padding: .6em 0em;
}
div.container.botones{
    position: relative;
    float: right;
    width: 30%;
    margin-bottom: 20px;
}
div.container.botones>p{
    color: white;
    font-size: 1.2em;
}
.boton{
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
a.boton.active:hover{
    color: white;
    background-color: transparent;
    border-color: #8f97a0;
}
/*Body Styles*/
div.container.imagen-seccion2{
    max-width: 270px;
    max-height: 270px;
}
.img-sponsors{
    width: 100%;
    height: 100%;
    border-radius: 8%;
}
.img-fluid{
    border-radius: 4%;
    transition: 800ms;
}
.img-fluid:hover{
    cursor: unset;
    filter: grayscale(50%);
    transition: 800ms;
    transform: scale(1.05);
}

.lineatitulo{
    background-color: rgba(255, 255, 255, 0.5)
}

.fijar{
    position: fixed;
    width: 100%;
    z-index: 9999;
}