<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="text-center container contbotones">
                <button (click)="clearerShowAtleta()" class="btn btn-primary">Atletas</button>
                <button (click)="clearerShowSponsor()" class="btn btn-primary">Sponsors</button> 
            </div>      
            <form novalidate [formGroup]="filtersAtletas" (ngSubmit)="onSearch()" *ngIf="show == 'atleta'">
                <div class="filter mt-2 ml-5">
                    <div class="form-group">
                        <label>Buscador por nombre:</label>
                        <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre Atleta" id="search">
                    </div>
                    <div class="form-group">
                        <label class="mt-2">Buscador por país:</label>
                        <select formControlName="pais" class="form-control" id="selectPais">
                            <option value="">Selecciona un País</option>
                            <option value="España">España</option>
                            <option value="USA">USA</option>
                            <option value="Venezuela">Venezuela</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="mt-2">Buscador por disciplina:</label>
                        <select formControlName="disci" class="form-control" id="selectDisciplina">
                            <option value="">Selecciona una Disciplina</option>
                            <option value="CrossFit">CrossFit</option>
                            <option value="Halterofilia">Halterofilia</option>
                            <option value="Natacion">Natación</option>
                            <option value="Atletismo">Atletismo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="mt-2">Buscador por Sexo:</label>
                        <select formControlName="sexo" class="form-control" id="selectSexo">
                            <option value="">Selecciona el Sexo</option>
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                    <div>
                            <!-- [disabled]="!formulario.valid -->
                        <button type="submit" class="btn btn-primary mt-3 btn-block">Buscar</button>
                    </div>
                </div>
            </form>
            <form novalidate [formGroup]="filtersSponsor" (ngSubmit)="sponsorOnSearch()" *ngIf="show == 'sponsor'">
                <div class="filter mt-2 ml-5">
                    <div class="form-group">
                        <label>Buscador por nombre:</label>
                        <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre Sponsor" id="search">
                    </div>
                    <div class="form-group">
                        <label class="mt-2">Buscador por país:</label>
                        <select formControlName="pais" class="form-control" id="selectPais">
                            <option value="">Selecciona un País</option>
                            <option value="España">España</option>
                            <option value="USA">USA</option>
                            <option value="Venezuela">Venezuela</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="mt-2">Buscador por disciplina:</label>
                        <select formControlName="disci" class="form-control" id="selectDisciplina">
                            <option value="">Selecciona una Disciplina</option>
                            <option value="CrossFit">CrossFit</option>
                            <option value="Halterofilia">Halterofilia</option>
                            <option value="Natacion">Natación</option>
                            <option value="Atletismo">Atletismo</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-3 btn-block">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-9 mt-3">
            <div class="container" *ngIf="show == 'atleta'">
                <div class="container-fluid py-2 my-1 border text-left" *ngFor="let user of arrUserShowList">
                    <h4>{{user.apellidos}}, {{user.nombre}}</h4>
                    <p>Ubicacion: {{user.ubicacion}} Disciplina: {{user.disciplina}}</p>
                    <p>{{user.sexo == 'M' ? 'Masculino' : 'Femenino'}}, {{user.edad}} años</p>
                </div>
            </div>
            <div class="container" *ngIf="show == 'sponsor'">
                <div class="container-fluid py-2 my-1 border text-left" *ngFor="let user of arrUserShowList">
                    <h4>{{user.nombre}}</h4>
                    <p>Ubicacion: {{user.ubicacion}} Disciplinas: {{user.disciplinas_patrocinio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>