.ubuntu{
  font-family: 'Ubuntu';
}
.opensans{
  font-family: 'Open Sans', sans-serif;
}

.container-fluid{
  height: auto;
  background-color: whitesmoke;
  padding-top: 3%;
  padding-bottom: 6%;
}
.results{
  height: 36vh;
}
.userbox{
  background: rgba(0,0,0,0.5);
  color: white;
  transition: background-color 200ms linear;
}

.userbox:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: lighten;
    transition: background-color 200ms linear;
  }

div.contbotones>button{
    margin: 10px;
}

.lineatitulo{
  background-color: rgba(255, 255, 255, 0.5)
}

.fondo{
  position: fixed;
  bottom: 0;
  width: 100%;
}