<app-header></app-header>
<div class="row fondi">
    <div class="col-3">
        <div class="filter mt-5 ml-5">
            <h3>Buscador:</h3>
            <h4>Buscador por nombre:</h4>
            <input type="text" placeholder="Nombre Atleta/Sponsor" id="search">
            <h4 class="mt-2">Buscador por país:</h4>
            <select class="" id="selectPais">
                    <option value="">Selecciona un País</option>
                    <option value="spain">España</option>
                    <option value="usa">USA</option>
                    <option value="vzla">Venezuela</option>
            </select>
            <h4 class="mt-2">Buscador por disciplina:</h4>
            <select class="" id="selectDisciplina">
                    <option value="">Selecciona una Disciplina</option>
                    <option value="crossfit">España</option>
                    <option value="natacion">Natación</option>
                    <option value="trote">Trote</option>
            </select>
            <h4 class="mt-2">Buscador por Sexo:</h4>
            <select class="" id="selectSexo">
                    <option value="">Selecciona el Sexo</option>
                    <option value="f">Femenino</option>
                    <option value="m">Masculino</option>
            </select>
        </div>
    </div>
    <div class="col-7 mt-3">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Sexo</th>
            </tr>
            <tr *ngFor="let atleta of arrAtletas">
                <td>{{atleta.id}}</td>
                <td>{{atleta.nombre}}</td>
                <td>{{atleta.apellidos}}</td>
                <td>{{atleta.email}}</td>
                <td>{{atleta.telefono}}</td>
                <td>{{atleta.sexo == 'M' ? 'Masculino' : 'Femenino'}}</td>
            </tr>           
        </table>
    </div>
    <div class="col-2">

    </div>
</div>