<!-- <div class="container">
    <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">Nombre Empresa</label>
            <input type="text" class="form-control" formControlName="nombre">
            <p class="error"
                *ngIf="formulario.controls['nombre'].errors?.required && formulario.controls['nombre'].touched">
                El campo Nombre Empresa es requerido.
            </p>
            <p class="error"
                *ngIf="formulario.controls['nombre'].errors?.maxlength && formulario.controls['nombre'].touched">
                El campo Nombre Empresa solo puede tener como máximo {{formulario.controls['nombre'].errors?.maxlength.requiredLength}}
                caracteres. Tú has insertado {{formulario.controls['nombre'].errors?.maxlength.actualLength}}
                caracteres.
            </p>
            <p class="error"
                *ngIf="formulario.controls['nombre'].errors?.minlength && formulario.controls['nombre'].touched">
                El campo Nombre Sponsor necesita como minimo {{formulario.controls['nombre'].errors?.minlength.requiredLength}}
                caracteres.
            </p>
        </div>
        <div class="form-group">
            <label for="">Nombre Persona Responsable</label>
            <input type="text" class="form-control" formControlName="nombre_responsable">
            <p class="error"
                *ngIf="formulario.controls['nombre_responsable'].errors?.required && formulario.controls['nombre_responsable'].touched">
                El campo Nombre Persona Responsable es requerido.
            </p>
            <p class="error"
                *ngIf="formulario.controls['nombre_responsable'].errors?.maxlength && formulario.controls['nombre_responsable'].touched">
                El campo Nombre Persona Responsable solo puede tener como máximo {{formulario.controls['nombre_responsable'].errors?.maxlength.requiredLength}}
                caracteres. Tú has insertado {{formulario.controls['nombre_responsable'].errors?.maxlength.actualLength}}
                caracteres.
            </p>
            <p class="error"
                *ngIf="formulario.controls['nombre_responsable'].errors?.minlength && formulario.controls['nombre_responsable'].touched">
                El campo Nombre Persona Responsable necesita como minimo {{formulario.controls['nombre_responsable'].errors?.minlength.requiredLength}}
                caracteres.
            </p>
        </div>
        <div class="form-group">
            <label for="">Biografía Sponsor</label>
            <input type="text" class="form-control" formControlName="bio">
            <p class="error"
                *ngIf="formulario.controls['bio'].errors?.required && formulario.controls['bio'].touched">
                El campo Biografía es requerido.
            </p>
            <p class="error"
                *ngIf="formulario.controls['bio'].errors?.maxlength && formulario.controls['bio'].touched">
                El campo Biografía solo puede tener como máximo {{formulario.controls['bio'].errors?.maxlength.requiredLength}}
                caracteres. Tú has insertado {{formulario.controls['bio'].errors?.maxlength.actualLength}}
                caracteres.
            </p>
            <p class="error"
                *ngIf="formulario.controls['bio'].errors?.minlength && formulario.controls['bio'].touched">
                El campo Biografía necesita como minimo {{formulario.controls['bio'].errors?.minlength.requiredLength}}
                caracteres.
            </p>
        </div>
        <div class="form-group">
            <label for="">Telefono</label>
            <input type="text" class="form-control" formControlName="telefono">
            <p class="error"
                *ngIf="formulario.controls['telefono'].errors?.required && formulario.controls['telefono'].touched">
                El campo Telefono es requerido.
            </p>
            <p class="error"
                *ngIf="formulario.controls['telefono'].errors?.maxlength && formulario.controls['telefono'].touched">
                El campo Telefono solo puede tener como máximo {{formulario.controls['telefono'].errors?.maxlength.requiredLength}}
                caracteres. Tú has insertado {{formulario.controls['telefono'].errors?.maxlength.actualLength}}
                caracteres.
            </p>
            <p class="error"
                *ngIf="formulario.controls['telefono'].errors?.minlength && formulario.controls['telefono'].touched">
                El campo Telefono necesita como minimo {{formulario.controls['telefono'].errors?.minlength.requiredLength}}
                caracteres.
            </p>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" formControlName="correo">
            <p class="error"
                *ngIf="formulario.controls['correo'].errors?.required && formulario.controls['correo'].touched">
                Este campo es requerido.
            </p>
            <p class="error"
                *ngIf="formulario.controls['correo'].errors?.pattern && formulario.controls['correo'].touched">
                Este email no es valido.
            </p>
        </div>
        <div class="form-group">
            <label for="">Pais</label>
            <select type="text" class="form-control" formControlName="ubicacion">
                <option value="spain">España</option>
                <option value="usa">EE.UU</option>
                <option value="vzla">Venezuela</option>
            </select>
            <p class="error"
                *ngIf="formulario.controls['ubicacion'].errors?.required && formulario.controls['ubicacion'].touched">
                Por favor seleccione una opcion.
            </p>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <p class="error"
                *ngIf="formulario.controls['password'].errors?.pattern">
                Esta contraseña no es valida.
            </p>
        </div>
        <div class="form-group">
            <label for="">Repite Password</label>
            <input type="password" class="form-control" formControlName="password_repeat">
            <p class="error"
                *ngIf="formulario.controls['password_repeat'].errors?.passwordvalidator">
                Las contraseñas no coinciden.
            </p>
        </div>
        <input type="submit" value="Enviar" [disabled]="!formulario.valid" class="btn btn-block btn-primary">
    </form>
</div> -->

<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()"></form>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="formulario"> <!-- Posible Cambio -->
        <ng-template matStepLabel>Información de Contacto</ng-template>
        <div class="row">
            <mat-form-field>
            <input matInput placeholder="Nombre de la compañia" formControlName="nombre" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Nombre y apellidos, Persona Responsable" formControlName="nombre_contacto" required>
            </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="formulario"> <!-- Posible Cambio -->
        <ng-template matStepLabel>Datos de Ubicación</ng-template>
        <div class="row">
            <mat-form-field>
            <input matInput placeholder="Ubicación" formControlName="ubicacion" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
            <input matInput placeholder="Telefono" formControlName="telefono" required>
            </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="formulario"> <!-- Posible Cambio -->
            <ng-template matStepLabel>Datos de Acceso</ng-template>
            <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Correo" formControlName="correo" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Contraseña" formControlName="password" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Repetir contraseña" formControlName="password_repeat" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        <input type="submit" value="Enviar" [disabled]="!formulario.valid" class="btn btn-toolbar btn-primary">
      </div>
    </mat-step>
</mat-horizontal-stepper>
  

