<app-header></app-header>
<div class="container-fluid ubuntu">
<div class="container cont-reg shadow-lg p-3 bg-white rounded">
        <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-4">
                <h4>Registro Sponsor</h4>
                <hr class="lineatitulo">
                <h5>Algunos beneficios:</h5>
                <div class="beneficios">
                    <p>· Mejorar la conciencia de marca, producto y servicio de los consumidores.</p>
                    <p>· Incrementar las ventas de un producto/servicio específico.</p>
                    <p>· Crear una “transferencia de imagen”. Donde los valores del deporte sean asociados a la marca patrocinada, mejorando así la imagen.</p>
                    <p>· Crear valor de marca.</p>
                    <p>· Promover la fidelidad de marca. (Incrementando la ratio de compra).</p>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Nombre Empresa</label>
                    <input type="text" class="form-control" formControlName="nombre">
                    <p class="error"
                        *ngIf="formulario.controls['nombre'].errors?.required && formulario.controls['nombre'].touched">
                        El campo Nombre Empresa es requerido.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['nombre'].errors?.maxlength && formulario.controls['nombre'].touched">
                        El campo Nombre Empresa solo puede tener como máximo {{formulario.controls['nombre'].errors?.maxlength.requiredLength}}
                        caracteres. Tú has insertado {{formulario.controls['nombre'].errors?.maxlength.actualLength}}
                        caracteres.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['nombre'].errors?.minlength && formulario.controls['nombre'].touched">
                        El campo Nombre Sponsor necesita como minimo {{formulario.controls['nombre'].errors?.minlength.requiredLength}}
                        caracteres.
                    </p>
                </div>
                <!-- <div class="form-group">
                    <label for="">Nombre Persona Responsable</label>
                    <input type="text" class="form-control" formControlName="nombre_contacto">
                    <p class="error"
                        *ngIf="formulario.controls['nombre_contacto'].errors?.required && formulario.controls['nombre_contacto'].touched">
                        El campo Nombre Persona Responsable es requerido.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['nombre_contacto'].errors?.maxlength && formulario.controls['nombre_contacto'].touched">
                        El campo Nombre Persona Responsable solo puede tener como máximo {{formulario.controls['nombre_contacto'].errors?.maxlength.requiredLength}}
                        caracteres. Tú has insertado {{formulario.controls['nombre_contacto'].errors?.maxlength.actualLength}}
                        caracteres.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['nombre_contacto'].errors?.minlength && formulario.controls['nombre_contacto'].touched">
                        El campo Nombre Persona Responsable necesita como minimo {{formulario.controls['nombre_contacto'].errors?.minlength.requiredLength}}
                        caracteres.
                    </p>
                </div> -->


                <!-- <div class="form-group">
                    <label for="">Biografía Sponsor</label>
                    <input type="text" class="form-control" formControlName="bio">
                    <p class="error"
                        *ngIf="formulario.controls['bio'].errors?.required && formulario.controls['bio'].touched">
                        El campo Biografía es requerido.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['bio'].errors?.maxlength && formulario.controls['bio'].touched">
                        El campo Biografía solo puede tener como máximo {{formulario.controls['bio'].errors?.maxlength.requiredLength}}
                        caracteres. Tú has insertado {{formulario.controls['bio'].errors?.maxlength.actualLength}}
                        caracteres.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['bio'].errors?.minlength && formulario.controls['bio'].touched">
                        El campo Biografía necesita como minimo {{formulario.controls['bio'].errors?.minlength.requiredLength}}
                        caracteres.
                    </p>
                </div> -->
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="text" class="form-control" formControlName="telefono">
                    <p class="error"
                        *ngIf="formulario.controls['telefono'].errors?.required && formulario.controls['telefono'].touched">
                        El campo Telefono es requerido.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['telefono'].errors?.maxlength && formulario.controls['telefono'].touched">
                        El campo Telefono solo puede tener como máximo {{formulario.controls['telefono'].errors?.maxlength.requiredLength}}
                        caracteres. Tú has insertado {{formulario.controls['telefono'].errors?.maxlength.actualLength}}
                        caracteres.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['telefono'].errors?.minlength && formulario.controls['telefono'].touched">
                        El campo Telefono necesita como minimo {{formulario.controls['telefono'].errors?.minlength.requiredLength}}
                        caracteres.
                    </p>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" formControlName="correo">
                    <p class="error"
                        *ngIf="formulario.controls['correo'].errors?.required && formulario.controls['correo'].touched">
                        Este campo es requerido.
                    </p>
                    <p class="error"
                        *ngIf="formulario.controls['correo'].errors?.pattern && formulario.controls['correo'].touched">
                        Este email no es valido.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Pais</label>
                    <select type="text" class="form-control" formControlName="ubicacion">
                        <option value="spain">España</option>
                        <option value="usa">EE.UU</option>
                        <option value="vzla">Venezuela</option>
                    </select>
                    <p class="error"
                        *ngIf="formulario.controls['ubicacion'].errors?.required && formulario.controls['ubicacion'].touched">
                        Por favor seleccione una opcion.
                    </p>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <p class="error"
                        *ngIf="formulario.controls['password'].errors?.pattern">
                        Debe contener al menos una letra, al menos un número y tener más de 6 caracteres.
                    </p>
                </div>
                <div class="form-group">
                    <label for="">Repite Password</label>
                    <input type="password" class="form-control" formControlName="password_repeat">
                    <p class="error"
                        *ngIf="formulario.controls['password_repeat'].errors?.passwordvalidator">
                        Las contraseñas no coinciden.
                    </p>
                </div>
                <input type="submit" value="Enviar" [disabled]="!formulario.valid" class="btn btn-toolbar btn-warning mt-5 ml-auto">
            </div>
        </div>
    </form>
</div>
</div>

<app-footer class="fondo"></app-footer>

