/* .fondi{
    background-image: url('https://media.istockphoto.com/vectors/grunge-official-sponsor-word-square-rubber-seal-stamp-on-white-vector-id1050504588');
    height: 100%;
    background-size: cover;
    background-position: center center;
    height: 88vh;
    background-color: #555;
    background-blend-mode: soft-light;
} */