<form novalidate [formGroup]="login" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" formControlName="correo">
        <p class="error"
            *ngIf="login.controls['correo'].errors?.required && login.controls['correo'].touched">
            El campo Email es requerido.
        </p>
    </div>
    <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" formControlName="password">
        <p class="error"
            *ngIf="login.controls['password'].errors?.required && login.controls['password'].touched">
            El campo Contraseña es requerido.
        </p>
    </div>
        <input type="submit" value="Enviar" [disabled]="!login.valid" class="btn btn-block btn-primary">
</form>
